/* Gerais */

body {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    line-height: 20px;
}

img {
    display: block;
}

.button {
    border: 3px solid #fec63e;
    padding: 10px 30px;
    color: #fec63e;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .1em;
}

.button.primary:hover {
    color: black;
    border-color: black;
}

.button.secundary:hover {
    color: white;
    border-color: white;
}


.sub-title {
    font-weight: bold;
    line-height: 30px;
    letter-spacing: .1em;
    color: black;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 40px;
}

.sub-title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: black;
    margin: 8px auto;
}

/* Header */

.header {
    width: 100%;
    background: #fec63e;
    position: fixed;
    top: 0;
    padding: 15px 0;
    z-index: 10;
}

.header_menu {
    text-align: right;
}

.header_menu ul li {
    display: inline-block;
    margin-left: 25px;
    margin-top: 20px;
}

.header_menu a {
    color: #000;
    font-weight: bold;
    font-size: 14;
    text-transform: uppercase;
    letter-spacing: .1em;
    line-height: 20px;
    padding: 10px 0;
}
.header_menu a:hover {
    color: white;
}

/* Introduction */

.introduction {
    width: 100%;
    height: 380px;
    background: url("../img/bg.jpg") no-repeat center;
    background-size: cover;
    margin-top: 92px;
    text-align: center;
    padding-top: 120px;
}
.introduction h1 {
    font-size: 48px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

.quote-external {
    max-width: 320px;
    margin: 0 auto;
    color: white;
    margin-bottom: 40px;
}

.quote-external p {
    font-style: italic;
}

.quote-external p:before, .quote-external p:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: white;
    margin: 14px auto 10px auto;
}

.quote-external cite {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: .5em;
}

/* Produtos */
.products {
    padding: 60px 0;
}

.products-list li {
    background: #fec63e;
    text-align: center;
}

.products-list li  h3 {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    letter-spacing: .1em;
    margin-top: 20px;
}

.products-list li  h3:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: black;
    margin: 2px auto;
}

.products-list li  p {
    padding: 10px 20px 20px 20px;
}

.products-icon {
    background: black;
}

.products-icon img {
    margin: 0 auto;
}

.call {
    padding-top: 40px;
    text-align: center;
    clear: both;
}

.call p {
    margin-bottom: 20px;
}

/* Portfolio */

.portfolio {
    width: 100%;
    background: black;
    padding:  40px 0;
}

.portfolio .sub-title {
    color: #fec63e;
}

.portfolio .sub-title:after {
    background: #fec63e;
}

.portfolio-list li:last-child {
    margin-top: 20px;
}

.portfolio .call p {
    color: white;
}

.quality {
    padding: 60px;
    text-align: center;
}

.quality img {
    margin: 0 auto;
}

.quality-list li {
    text-align: center;
    padding: 0 40px;
}

.quality-list li  h3 {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    letter-spacing: .1em;
    margin-top: 20px;
}

.quality-list li  h3:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: black;
    margin: 4px auto;
}
